sudo: false
git:
    submodules: false
language: python
python:
    - '2.7'
    - '3.4'
    - '3.5'
    - pypy
before_install:
    install:
        - pip install -r requirements.txt
    script:
        - nosetests -v --with-xunit --with-coverage --cover-erase --cover-package=kir
